@font-face {
    font-family: Inter;
    src: url(./fonts/Inter_18pt-SemiBold.ttf);
}

:root{
    --primary : #18191F;
    --greenColor : #4cAF4F;
    --color:#eee4e4;
}
.blackColor{
    color : var (--primary);
}
.bglight{
    background-color: var(--greenColor)
}
.bglight:hover{
    background-color: var(--greenColor);
}

.bggreen{
    background-color: var(--greenColor);
    color: aliceblue;

}
.bggreen:hover{
    background-color: var(--greenColor);
}

.h1color{
       color: var(--greenColor);
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.button{

    background-color: var(--greenColor);
}
.bggreen:hover{
background-color: var(--greenColor);
}
